@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
.container{
  display: flex;
  justify-content:flex-start;
}
.shelf{
  border: 2px solid black;
  width: 250px;
  height: 250px;
  margin-right: 10px;
}

img {
  width: 245px;
  height: 245px;
  object-fit: cover;
}

.item, .amnt, .desc{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 50%;
}

.item{
  font-size: 1.3rem;
  font-weight: 500;
}