@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.shelf{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sectionTitle{
  font-family: 'Roboto', sans-serif;
  margin-left: 9%;
}

.container{
  display: flex;
  justify-content:flex-start;
  max-width: 100%;
  padding: 2%;
  
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  background-color: white;
  margin: 1% 2% 2% 4%;
  padding: 2% 2% 2% 2%;
  width: 275px;
  box-shadow: 8px 8px 8px #a1d5aa;
  transition: transform 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
}
.card-info{
  width: 240px;
  height: 240px;
  background-color: white;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: white;
}

.item, .amnt, .desc{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  background-color: white;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1rem;
  text-align: center;
}

.item{
  color: #F25050;
  font-size: 1.3rem;
  font-weight: 500;
}

.Msg{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
}

.arrow{
  margin: 20px;
  align-self: center;
  cursor: pointer;
}

.requestItem{ 
  background-color: #F25050;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #F25050;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  
}

.requestItem:hover{
  background-color: #e34646;
  color: white;
}


.addItemBtn{
  font-size: 1rem;
  font-weight: 700;
  background-color: #F25050;
  color: white;
  width: 120px;
  border: 0;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin-left: 2%;
  transition: transform 0.2s ease-in-out;
}
.addItemBtn:hover{
  transition: 0.5s;
  background-color: #e34646;
  cursor: pointer;
  transform: scale(1.02);
}

.titleAndBtn{
  display: flex;
}