@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

.container{
  display: flex;
  justify-content:flex-start;
}
.shelf{
  border: 2px solid black;
  width: 250px;
  height: 250px;
  margin-right: 10px;
}

img {
  width: 245px;
  height: 245px;
  object-fit: cover;
}