@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap');
.Cover{
  position: relative;
  background-image: url('/public/img/slices-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

.Cover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(196, 242, 203,0.5);
}

.Cover__info{
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: #244020;
  width: 50%;
  z-index: 1;
  margin-left: 8%;
  margin-right: 5%;
}

.p__foodhero{
  font-size: 2rem;
  font-weight: 400;
  width: 75%;
  margin-bottom: 2%;
}

.p__signup{
  font-size: 1.5rem;
  width: 50%;
}

.Cover__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-top: 2%;
}

#Cover__form__login{
  font-family: 'Roboto', sans-serif;
  width: 200%;
  padding: 10%;
  margin-bottom: 5%;
  border: 0;
  border-radius: 5px;
  z-index: 1;
}

#Cover__form__login__2{
  font-family: 'Roboto', sans-serif;
  width: 250%;
  padding: 15%;
  margin-bottom: 10%;
  border: 0;
  border-radius: 5px;
  z-index: 1;
}

.p__login{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  z-index: 1;
}

#Cover__form__btn{
  background-color: #F25050;
  color: white;
  padding: 10px;
  border: 1px solid #F25050;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#Cover__form__btn:hover{
  border: 1px solid #e34646;
  background-color: #e34646;
  color: white;
  cursor: pointer;
}



.About{
  background-color: #C4F2CB;
}

.HowTo{
  background-color: #C4F2CB;
}

.linkStyle{
  color: #244020;
   text-decoration: underline;
}
.linkStyle:hover{
  color: #F25050;
  transition-duration: 0.3s;
}