@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap');

.Cover{
  position: relative;
  background-image: url('/public/img/strawberries_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}

.Cover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(196, 242, 203,0.5);
}

.Cover__info{
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: #244020;
  width: 50%;
  z-index: 1;
  margin-left: 8%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.p__foodhero{
  font-size: 1.5rem;
  font-weight: 400;
  width: 75%;
  margin-top: 2%;
  margin-bottom: 2%;
}


.Cover__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.Cover__form__login{
  font-family: 'Roboto', sans-serif;
  width: 200%;
  padding: 10%;
  margin-bottom: 10%;
  border: 0;
  border-radius: 20px;
  z-index: 1;
}


.p__login, .successMsg{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  z-index: 1;
}

#Cover__form__btn{
  background-color: #F25050;
  color: white;
  padding: 10px 15px 10px 15px;
  border: 1px solid #F25050;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#Cover__form__btn:hover{
  border: 1px solid #e34646;
  background-color: #e34646;
  color: white;
  cursor: pointer;
}



.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #244020;
  z-index: 1;
}

.About__title{
  margin-bottom: 5%;
  text-align: center;
}

.About__children{
  display: flex;
  justify-content: space-between;
}

.About__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0% 2% 0% 2%;
  padding: 2% 1% 1% 1%;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #a1d5aa;
  transition: transform 0.5s ease;
}
.About__div:hover{
  transform: scale(1.1);
}

.About__div h4{
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
  font-weight: 500;
  color: #F25050;
}

.numbers{
  color: #F25050;
}

.About__div p{
  font-size: 1rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.About__children__icons{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10% 0% 20% 0%;
}

.About__singleIcon{
  font-size: 2rem;
  margin-right: 10%;
  
}

.linkStyle{
  color: #244020;
   text-decoration: underline;
}
.linkStyle:hover{
  color: #F25050;
  transition-duration: 0.3s;
}


.About__bottomline{
  font-size: 2rem;
  margin: 10% 5% 3% 5%;
  font-weight: 500;
}

.About__div__data{
  background-color: #ededed;
  top:0;
  left: 0;
  right: 0;
  margin:0% 0% 5% 0%;
  padding: 10% 5% 10% 5%;
  height: 100vh;
}

.About__data{
  font-size: 4rem;
  margin: 2% 2% 2% 2%;
  line-height: 150%;
  font-weight: 300;
}
.About__data_2{
  font-size: 1rem;
  margin: 10% 2% 2% 2%;
  line-height: 150%;
  font-weight: 400;
}

.highlight{
  color: #F25050;
  font-weight: 400;
}




 @media only screen and (max-width: 820px) {

  .Cover{
  background-image: url('/public/img/strawberries_bg_phone.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

  .Cover__info{
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #244020;
  z-index: 1;
  margin:  25% 20% 5% 20%;
  text-align: center;
}

   .p__foodhero{
  font-size: 1.5rem;
  font-weight: 400;
  width: 90%;
  margin-top: 10%;
  margin-bottom: 2%;
}

  .Cover__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.Cover__form__login{
  font-family: 'Roboto', sans-serif;
  width: 180%;
  padding: 10%;
  margin: 0% 0% 15% 0%;
  border: 0;
  border-radius: 20px;
  z-index: 1;
}

.Cover__form__signup{
  font-family: 'Roboto', sans-serif;
  width: 180%;
  padding: 10%;
  margin: 0% 0% 15% 0%;
  border: 0;
  border-radius: 20px;
  z-index: 1;
}

.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #244020;
  z-index: 1;

}

.About__title{
  margin: 5% 5% 10% 5%;
  text-align: center;
}

.About__children{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.About__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 2% 2% 4% 2%;
  padding: 4%;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #a1d5aa;
  transition: transform 0.5s ease;
}

.About__bottomline{
  font-size: 2rem;
  margin-top: 5%;
  padding: 2%;
  font-weight: 400;
  text-align: center;
}


.About__div__data{
  background-color: white;
  top:0;
  left: 0;
  right: 0;
  margin:0% 0% 5% 0%;
  padding: 10% 5% 10% 5%;
  height: 100vh;
}

.About__data{
  font-size: 4rem;
  margin: 2% 2% 2% 2%;
  line-height: 150%;
  font-weight: 300;
}

.About__data_2{
  font-size: 1.2rem;
  margin: 15% 2% 2% 2%;
  line-height: 150%;
  font-weight: 400;
}


}



@media (max-width: 414px) { 

  .Cover{
  background-image: url('/public/img/strawberries_bg_phone.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

  .Cover__info{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #244020;
  z-index: 1;
  margin:  25% 20% 5% 20%;
  text-align: center;
}

   .p__foodhero{
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  margin-top: 10%;
  margin-bottom: 5%;
}

  .Cover__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.Cover__form__login{
  font-family: 'Roboto', sans-serif;
  width: 150%;
  padding: 10%;
  margin: 0% 0% 20% 0%;
  border: 0;
  border-radius: 20px;
  z-index: 1;
}

.Cover__form__signup{
  font-family: 'Roboto', sans-serif;
  width: 150%;
  padding: 10%;
  margin: 0% 0% 10% 0%;
  border: 0;
  border-radius: 20px;
  z-index: 1;
}


.About{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #244020;
  z-index: 1;
}

.About__title{
  margin: 5% 5% 10% 5%;
  text-align: center;
}

.About__children{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.About__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 2% 2% 4% 2%;
  padding: 4%;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #a1d5aa;
  transition: transform 0.5s ease;
}

.About__bottomline{
  font-size: 2rem;
  margin: 15% 5% 0% 5%;
  line-height: 150%;
  font-weight: 400;
}


.About__div__data{
  background-color: white;
  top:0;
  left: 0;
  right: 0;
  margin:0% 0% 5% 0%;
  padding: 5% 10% 10% 10%;
  height: 100vh;
}

.About__data{
  font-size: 2rem;
  margin: 10% 2% 15% 2%;
  font-weight: 300;
}

.About__data_2{
  font-size: 0.8rem;
  margin: 2% 2% 2% 2%;
  line-height: 150%;
  font-weight: 400;
}


}
