@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 2;
}

header, .logo, nav, ul, li {
  background-color: white;
  
  
}

.logo{
  font-family:  'Comfortaa', cursive;
  color: #244020;
  font-size: 2rem;
  letter-spacing: -2px;
}

.ul{
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin-top: 2%;
}

.li{
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
  color: #244020;
  text-decoration: none;
  cursor: pointer;
}
.li:hover{
  color: #F25050;
  transition-duration: 0.3s;
}

.linkStyle{
  color: #244020;
   text-decoration: none;
}
.linkStyle:hover{
  color: #F25050;
  transition-duration: 0.3s;
}

.logout{ 
  background-color: #F25050;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #F25050;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  
}

.logout:hover{
  background-color: #e34646;
  color: white;
}