@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header, .logo, nav, ul, li {
  background-color: white;
  
  
}

.logo{
  font-family:  'Comfortaa', cursive;
  color: #244020;
  font-size: 2rem;
  letter-spacing: -2px;
}

.ul{
  display: flex;
  list-style: none;
}

.li{
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
  color: #244020;
}
