@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0px 5px 10px #9a9e9a;
}

header, .logo, nav, ul, li {
  background-color: white;
  
  
}

.logo{
  font-family:  'Comfortaa', cursive;
  color: #244020;
  font-size: 2rem;
  letter-spacing: -2px;
}

.ul{
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin-top: 2%;
}

.li{
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
  color: #244020;
  text-decoration: none;
  cursor: pointer;
}
.li:hover{
  color: #F25050;
  transition-duration: 0.3s;
}


.linkStyle{
  color: #244020;
   text-decoration: none;
}
.linkStyle:hover{
  color: #F25050;
  transition-duration: 0.3s;
}

.logout{ 
  background-color: #F25050;
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid #F25050;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  
}

.logout:hover{
  background-color: #e34646;
  color: white;
}



/* Hamburger menu */

ul{
  list-style: none;
}

.menuNav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 2%;
  overflow-y: hidden;
  list-style: none;
  position: fixed;
  top: 0;
  background: none;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  max-width: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.toggleBtn{
  background-color: white;
  border: 0;
  cursor: pointer;
}

.menuBtn{
  font-size: 1.5rem;
  color:#244020
}

.closeBtn{
   position: absolute;
   top: 5%;
  font-size: 1rem;
  margin-left: 150px;
  color:#244020
}

.li_r{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 150%;
  padding-right: 20px;
  color: #244020;
  text-decoration: none;
  cursor: pointer;
}
.li_r:hover{
  color: #F25050;
  transition-duration: 0.3s;
}

