.FriendListTitle{
  margin: 4% 2% 2% 2%;
  font-family: 'Roboto', sans-serif;
  color: #244020;
}

.friendsContainer{
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.friendsCard{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  padding-bottom: 3%;
}


.friendsCard img{
  transition: transform 0.5s ease;
}

.friendsCard img:hover{
  transform: scale(1.1);
}

.Msg{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
}

.friendsImg{
  border-radius: 50%;
  margin-bottom: 3%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.link{
text-decoration: none;
color: #244020;
}

.link:hover{
  color: #F25050;
  transition-duration: 0.3s;
  cursor: pointer;
}

.search{
  display: flex;
}

.searchInput{
  width: 500px;
  border: 0;
  border-radius: 50px;
  margin: 4% 0% 2% 2%;
  padding: 10px;
}

@media only screen and (max-width: 820px) {
  .friendsCard{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
  padding-bottom: 10%;
  margin: 2%;
}

.searchInput{
  width: 400px;
  border: 0;
  border-radius: 50px;
  margin: 3% 0% 2% 4%;
  padding: 15px;
}
}

@media only screen and (max-width: 412px) {

  .friendsContainer{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.friendsCard{
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
  padding-bottom: 10%;
  margin: 10% 10% 5% 10%;
}

.friendsImg{
  border-radius: 50%;
  margin-bottom: 3%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.searchInput{
  width: 250px;
  border: 0;
  border-radius: 50px;
  margin: 6% 0% 2% 2%;
  padding: 10px;
}


}