.FriendListTitle{
  margin: 2%;
  font-family: 'Roboto', sans-serif;
  color: #244020;
}

.friendsContainer{
  height: 100vh;
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.friendsCard{
  margin: 2%;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  height: 50%;
}

.Msg{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1rem;
}

.friendsImg{
  border-radius: 50%;
  margin-bottom: 3%;
}
.friendsImg:hover{
  filter:grayscale(25%);
  transition-duration: 0.7s;
}