@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

*{
  box-sizing: border-box;
  background-color: #C4F2CB;
  margin: 0 0 0 0;
  
}







