footer{
  background-color: white;
}

.footerContainer{
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: 3rem;
}

.footerContainerInfo{
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #244020;
  margin: 20px 20px 0px 20px;
  padding-bottom: 30px;
}

.logo{
  font-family:  'Comfortaa', cursive;
  color: #244020;
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin: 10px;
}

.socialIcons{
  display: flex;
  justify-content: space-between;
}

.icons{
  font-family: 'Roboto', sans-serif;
  color: #244020;
  font-size: 1.5rem;
  margin: 20px 10px 10px 10px;
  cursor: pointer;
}
.icons:hover{
  color: #F25050;
  transition-duration: 0.3s;
}

.footerContainerPara{
  padding-bottom: 10px;
}

.footerContainerPara:hover{
  color: #F25050;
  transition-duration: 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {

  footer{
  background-color: white;
  overflow: hidden;
  margin-top: 20%;
  bottom: 0px;
  height: 100%;
}

 .footerContainerInfo{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #244020;
  margin: 20px 20px 0px 20px;
  padding-bottom: 30px;
}

}
