@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.userBio{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.name, .city, .km, .diet, .bio{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 2% 0% 0% 25%;
}

.name{
  font-size: 1.3rem;
  font-weight: 500;
}

.bio{
  line-height: 150%;
  font-size: 1rem;
  margin-top: 8%;
}

.userImage{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.pf{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userInfo{
  width: 300px;
}